<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/QuizStyle.css" />
		<title>spiritual gifts assessment</title>
		<script>
		function clickBack()
		{
			document.forms[0].page.value={{pageNum-1}};
			document.forms[0].method="get";
			document.forms[0].action="/";
		}
		</script>
	</head>
	<body class="main">
		{#if we're not at the last page, don't send the data to the evaluator#}
		{%if pageNum==maxPages %}
			<form action ="/submit" method=post>
		{%else%}
			<form action="/" method=get>
		{%endif%}
			{% block main %}
			<div class="container">
				{%if pageNum==1%}
				{#only ask for this info on the first page#} 
					<div class="contactInfo">
						<fieldset>
							<legend>Contact Information:</legend>
							First Name:<input class="ciField" type="text" width=30 name="firstName">
							Last Name:<input class="ciField" type="text" width=30 name="lastName"> <br />
							Email address:<input class="ciField" type="email" width=30 name=email>
						</fieldset>	
					</div>	
				{%endif%}
					<div class="headings">
			            <table>
			            	<colgroup>
								<col class="qHeading" />
								<col class="aHeading" span='5' width=80 align='center' />
							</colgroup>
			            	<tr>
			            		<th>this has been true in my life...</th>
			            		<th>Regularly</th>
			            		<th>Frequently</th>
			            		<th>Sometimes</th>
			            		<th>Rarely</th>
			            		<th>Never</th>
			            	</tr>
			            </table>
		            </div>
		            {% block questions %}
			            <div class="questionGroup">
			            	<dl class="question">
				            	{% for questionNumber in questions %}
				            	{% set outer_loop=loop %}
				           			<dt class="{{ loop.cycle('odd', 'even') }}">{{loop.index+(questionsPerPage*(pageNum-1))}}. {{questionNumber}} </dt>
				           				<div class="answers">
				           					<dd>
				           					{% for x in "12345"|list %}
							                	<input class="answerButton" type="radio" value="{{loop.revindex0}}" name="question{{order[outer_loop.index0]}}" />   
						                	{% endfor %}
						                	</dd>
						                </div>
					                
				            	{% endfor %}
			            	</dl>
			            </div>
			         {% endblock questions %}   
		            <div class="Buttons">
			        	<input type="hidden" name="page" value="" />
			        	{%if pageNum!=1%}
			        	<input type="submit" name="back" value="<-- Back" onClick="clickBack()"/>
			        	{%endif%}
			        	{%if pageNum==maxPages%}
			        	<input type="submit" name="submit" value="submit!" />
			        	{%else%}
			        	<input type="submit" name="submit" value="Next -->" onClick="document.forms[0].page.value={{pageNum+1}}"/>
			        	{%endif%}
		        	</div>
				</div>
			{% endblock main %}	  
		</form>  	
	</body>
</html>