* {margin: 0; outline: focus;}

/*Main*/
.main {
		align-content: center;
		overflow:hidden;
		background: #ffffff;
		height:750px;
  	    width:100%;
  	    text-align: left;
  	    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; margin:0;
}
/*Container*/
.container {
	border-style:ridge;
	border-color:#98bf21;
		width: 80%;
		height: 80%;
		margin-left:auto;
		margin-right:auto;
		position:center;
}
/*HEADER*/
.header {
  	height: 25px;
  	background: #F8B945;
  	color: #eee;
  	text-align: center;
  	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; margin:0;
}

.header a {
  	color: #999;
}

/*Contact Information*/
.contactInfo {
	border-style:ridge;
	border-color:#98bf21;
	margin-left: auto;
	margin-right: auto;
  	margin-bottom: 15px;
  	padding: 10px;
  	background: #DB4624;
  	color: #FFFFFF;
  	text-align: left;
  	text-transform: uppercase;
  	text-shadow: 2px 2px 1px #505050; 
}

/*Contact Information Field Headings*/
.ciField {
 		margin: 5px; 
}

/*Column Headings*/
.headings {
	background: #7E8F33;
	border-style:ridge;
	border-color:#98bf21;
	width: 90%;
  	margin-bottom: 15px;  
  	margin-top: 5px;
	margin-left:auto;
	margin-right:auto;
  	color: #FFFFFF;
	text-align:right;
  	text-transform: uppercase;
	text-indent: 2.99%;
	
}

/*Column Headings - Questions*/
.qheading {
  	padding: 5px;
		width: auto|length;
}

/*Column Headings - Answers*/
.aheading {
      margin-right: 5px;  
      padding: 5px;
	    width: auto|length;
}

/*Questions Section*/
.questionGroup {
	width:90%;
	margin-bottom: 15px;
	margin-left:auto;
	margin-right:auto;
}

/*Question List Item: Odd*/
.odd {
	border-style:ridge;
	border-color:#98bf21;
		text-indent:10px;
  	height: 20px;
  	color:#FFFFFF;
	background: #404040;
}

/*Question List Item: Even*/
.even {
	background: #404040;
	border-style:ridge;
	border-color:#98bf21;
		text-indent:10px;
  	height: 20px;
  	color:#FFFFFF;
}

.answers{
    margin-top: 5px;
	margin-bottom: 5px;
	position:relative;
		left:30%;
}

.answerButton {
	margin-left:10%;
	width:20px;
	padding:50px;
}

/*Buttons Section*/
.Buttons {
    position:relative;
        left:85%;
}




