* {margin: 0 auto; outline: focus;}

/*Container*/
.container{
		height:95%;
		width:90%;    
		font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; 
}

/*HEADER*/
.header {
  	height: 25px;
  	background: #F8B945;
  	color: #eee;
  	text-align: center;
  	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; margin:0;
}

.header a {
  	color: #999;
}

/*Form*/
.form {
    background:#404040;
    border-style:ridge;
	border-color:#98bf21;
}



/*Contact Information*/
.contactInfo {
	border-style:ridge;
	border-color:#98bf21;
	margin-left: auto;
	margin-right: auto;
  	margin-bottom: 15px;
  	padding: 10px;
  	background: #DB4624;
  	color: #FFFFFF;
  	text-align: left;
  	text-transform: uppercase;
  	text-shadow: 2px 2px 1px #505050; 
}

/*Contact Information Field Headings*/
.ciField {
 		margin: 5px; 
}

/*Heading*/
.headingOverlay {
	background: #7E8F33;
	border-style:ridge;
	border-color:#98bf21;
	width: auto;
  	margin-bottom: 15px;  
  	margin-top: 5px;
  	color: #FFFFFF;
	text-align:right;
  	text-transform: uppercase;
	text-indent: 2.99%;
	transform:rotate(-7deg);
    -ms-transform:rotate(-7deg); /* IE 9 */
    -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */
	
}

/*Questions Section*/
.questions {
	width:90%;
	margin-bottom: 15px;
}

.questionLine {
    margin-left:auto;
}

/*Question List Item*/
.question{
	border-bottom:ridge;
	border-color:#98bf21;
  	height: 20%;
  	color:#ffffff;
}

.answersLine{
    margin-top: 1%;
	margin-bottom: 2%;
}

.answerPair {
    position: relative;
    left: 40%;
}

.answerLabel {
	margin-left:5%;
    color:#ffffff;
}

.answerButton {
	width:25px;
	color:#404040;
}

/*Buttons Section*/
.Buttons {
    position:relative;
        left:85%;
}




